.buttons-wrapper {
  padding: 20px 0;
}

.counter-button {
  border: 3px solid white;
  border-radius: 0.8rem;
  color: white;
  font-size: 3.2rem;
  height: 10rem;
  min-width: 10rem;
  font-weight: bolder;
  background-color: #676bdd;
  cursor: pointer;
}

.counter-button + .counter-button {
  margin-left: 4rem;
}

.counter-custom-wrapper {
  margin-top: 4rem;
  padding-top: 4rem;
  border-top: 1px solid white;
  display: flex;
}

.counter-button.counter-button--custom {
  width: 100%;
}

.counter-input {
  font-size: 3.2rem;
  margin-right: 0.8rem;
  height: 10rem;
  width: 8rem;
}
